.home{
  width: 100vw;
  height: 90vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .vector{
    position: absolute;
    width: 50vw;
    height: auto;
    bottom: 0;
    right: 5px;
  }

  .info{
    padding: 50px;

    h1, p{
      color: $white;
      margin: 20px 0;
    }
    p{
      line-height: 30px;
    }

    .btn{
      font-size: 1em;
      min-width: 180px;
      height: 40px;
      margin-top: 10px;
    }
  }
}